#main {
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    text-align: center;
    width: 400px;
    font-family: HY엽서L;
}

#chat {
    height: 400px;
    width: 100%;
    overflow-y: auto;
    border-radius: 10px 10px 0px 0px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-bottom: 0;
    padding-bottom: 10px;
}

#text {
    height: 100px;
    width: 100%;
    overflow-y: auto;
    background-color: #f5f8fa;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px 0px 10px 10px;
    border-color: gray;
    padding-top: 10px;
}

#select-room {
    width: 70%;
    height: 30px;
    border-radius: 10px;
}

#room {
    background-color: #f3efeb;
}

.connect {
/*    width: 90%;
    margin: auto;
    background-color: #e3f2f9;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;*/
    width: 90%;
    margin: auto;
    margin-left: 20px;
    background-color: #e3f2f9;
    border-radius: 5px;
    margin-top: 10px;
    float: left;
}

.disconnect {
 /*   width: 50%;
    margin: auto;
    background-color: indianred;
    text-align: center;
    margin-top: 10px;*/
    width: 90%;
    margin: auto;
    margin-left: 20px;
    background-color: indianred;
    border-radius: 5px;
    margin-top: 10px;
    float: left;
}

.me {
    width: 50%;
    margin: auto;
    margin-right: 20px;
    background-color: lemonchiffon;
    border-radius: 5px;
    margin-top: 10px;
    float: right;
    word-break: break-all;
}

.other {
    width: 50%;
    margin: auto;
    margin-left: 20px;
    background-color: #e6ecef;
    border-radius: 5px;
    margin-top: 10px;
    float: left;
    word-break: break-all;
}

.btnSend {
    background-color: lightgray;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    border: 0;
    width: 50%;
    height: 50px;
    margin-top: 10px;
}

.btnRoom {
    background-color: #51149255;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    border: 0;
    width: 20%;
    height: 20px;
    margin-bottom: 10px;
}

* {
    user-select: none;
}

*:focus {
    outline: none;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 100px;
    margin: 0;
    background-color: #f3efeb;
}
