#main {
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    text-align: center;
    width: 400px;
    font-family: HY엽서L;

}

#chat {
    height: 400px;
    width: 100%;
    overflow-y: auto;
    border-radius: 10px 10px 0px 0px;
    background-color: white;
    border-width: 1px;
    border-color: gray;
    border-bottom: 0;
    padding-bottom: 10px;
    position: relative;
}

#text {
    width: 80%;
    overflow-y: auto;
    float: left;
}

.div_text {
    height: 100px;
    width: 100%;
    overflow-y: auto;
    background-color: #f5f8fa;
    border-width: 1px;
    border-radius: 0px 0px 10px 10px;
    border-color: gray;
    padding-top: 10px;
    display: flex;
}

.div_btn {
    float: right;
    display: flex;
}

#select-room {
    width: 70%;
    height: 30px;
    border-radius: 10px;
    border-style: hidden;
}

#room {
    background-color: #f3efeb;
}

.connect {
    width: 90%;
    margin: auto;
    margin-left: 20px;
    background-color: #e3f2f9;
    border-radius: 5px;
    margin-top: 10px;
    float: left;
}

.disconnect {
    width: 90%;
    margin: auto;
    margin-left: 20px;
    background-color: indianred;
    border-radius: 5px;
    margin-top: 10px;
    float: left;
}

.me {
    width: 50%;
    margin: auto;
    margin-right: 20px;
    background-color: lemonchiffon;
    border-radius: 5px;
    margin-top: 10px;
    float: right;
    word-break: break-all;
}

.other {
    width: 50%;
    margin: auto;
    margin-left: 20px;
    background-color: #e6ecef;
    border-radius: 5px;
    margin-top: 10px;
    float: left;
    word-break: break-all;
}

.btnSend {
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    border: 0;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: lightgray;
}

.btnRoom {
    background-color: #51149255;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    border: 0;
    width: 20%;
    height: 20px;
    margin-bottom: 10px;
}

.btnArrowTop {
    float: right;
    position: fixed;
    width: 30px;
    height: 30px;
    margin-top: 360px;
    padding-left: 150px;
}

* {
    user-select: none;
}

*:focus {
    outline: none;
}

html,
body {
    min-height: 100%;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 100px;
    margin: 0;
    background-color: #f3efeb;
}

.btnOn {
   background-color: #91b9e5;
}

.btnOff {
   background-color: lightgray;
}


/***********************************스크롤***************************************/
/* 임의의 영역 생성 */
.scrollBar {
    width: 200px;
    height: 200px;
    overflow-y: scroll;
}

/* 아래의 모든 코드는 영역::코드로 사용 */
.scrollBar::-webkit-scrollbar {
    width: 10px;  /* 스크롤바의 너비 */
}

.scrollBar::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #c6daf5; /* 스크롤바의 색상 */

    border-radius: 10px;
}

.scrollBar::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}

.hideScroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.hideScroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

/***********************************스크롤 끝***************************************/